body {
  background: salmon; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, salmon , pink); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, salmon, pink); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, salmon, pink); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, salmon , pink); /* Standard syntax */
}

form h2 {
  font-size: 20px;
}

.reset {
  margin: 2px 18px;
}

.topRow, .bottomRow {
  float: left;
}

.bottomRow {
  clear: left;
  margin: 0 11%;
}



.container {
  margin-top: 30px;
  width: 970px;
}

.options, .plays {
  border: 1px solid black;
  margin: 20px;
  background-size: 100%;
}

.options {
  height: 148px;
  width: 150px;
}

.plays {
  height: 178px;
  width: 180px;
}

.userMove {
  background-image: url('../assets/userMove.png');
}

.compMove {
  background-image: url('../assets/compMove.png');
}

.rock {
  background-image: url('../assets/rock.png');
}

.paper {
  background-image: url('../assets/paper.png');
}

.scissors {
  background-image: url('../assets/scissors.png');
}

.endTournament {
  font-size: 20px;
  background-color: lavenderBlush;
  margin-top: 3px;
}

#messageBox {
  height: 130px;
  text-align: center;
}

#message {
  font-size: 70px;
}

#scores, th {
  text-align: center;
}

#scores {
  width: 50px;
}
